<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AnyCourse</display-name>
  <welcome-file-list>
    <welcome-file>/AnyCourse/HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PersonalTextNoteServlet</servlet-name>
    <servlet-class>Personal.PersonalNote.PersonalTextNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalPictureNoteServlet</servlet-name>
    <servlet-class>Personal.PersonalNote.PersonalPictureNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalKeyLabelServlet</servlet-name>
    <servlet-class>Personal.KeyLabel.PersonalKeyLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WatchRecordServlet</servlet-name>
    <servlet-class>Personal.WatchRecord.WatchRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExchangeTextNoteServlet</servlet-name>
    <servlet-class>Exchange.ExchangeTextNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExchangePictureNoteServlet</servlet-name>
    <servlet-class>Exchange.ExchangePictureNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExchangeKeyLabelServlet</servlet-name>
    <servlet-class>Exchange.ExchangeKeyLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>Forum.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>Forum.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>HomePage.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NoteCategoryServlet</servlet-name>
    <servlet-class>Note.NoteCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TextNoteServlet</servlet-name>
    <servlet-class>Note.TextNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PictureNoteServlet</servlet-name>
    <servlet-class>Note.PictureNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HandoutServlet</servlet-name>
    <servlet-class>Handout.HandoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotificationServlet</servlet-name>
    <servlet-class>Notification.NotificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRecordServlet</servlet-name>
    <servlet-class>Personal.SearchRecord.SearchRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoListServlet</servlet-name>
    <servlet-class>Personal.VideoList.VideoListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeyLabelServlet</servlet-name>
    <servlet-class>KeyLabel.KeyLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CoursePlanServlet</servlet-name>
    <servlet-class>Personal.CoursePlan.CoursePlanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginVerificationServlet</servlet-name>
    <servlet-class>LoginVerification.LoginVerificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>Personal.Calendar.CalendarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Search.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayerInterfaceServlet</servlet-name>
    <servlet-class>PlayerInterface.PlayerInterfaceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>Account.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>Setting.SettingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupCalendarServlet</servlet-name>
    <servlet-class>Group.Calendar.CalendarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupKeyLabelServlet</servlet-name>
    <servlet-class>Group.KeyLabel.GroupKeyLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AnnouncementServlet</servlet-name>
    <servlet-class>Group.Announcement.AnnouncementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagementServlet</servlet-name>
    <servlet-class>Group.Management.ManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupCommentServlet</servlet-name>
    <servlet-class>Group.Forum.GroupCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupReplyServlet</servlet-name>
    <servlet-class>Group.Forum.GroupReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupVideoListServlet</servlet-name>
    <servlet-class>Group.VideoList.GroupVideoListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupCoursePlanServlet</servlet-name>
    <servlet-class>Group.CoursePlan.GroupCoursePlanServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GroupMemberServlet</servlet-name>
    <servlet-class>Group.Member.GroupMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalTextNoteServlet</servlet-name>
    <url-pattern>/PersonalTextNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalPictureNoteServlet</servlet-name>
    <url-pattern>/PersonalPictureNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WatchRecordServlet</servlet-name>
    <url-pattern>/WatchRecordServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeTextNoteServlet</servlet-name>
    <url-pattern>/ExchangeTextNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangePictureNoteServlet</servlet-name>
    <url-pattern>/ExchangePictureNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExchangeKeyLabelServlet</servlet-name>
    <url-pattern>/ExchangeKeyLabelServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoteCategoryServlet</servlet-name>
    <url-pattern>/NoteCategoryServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextNoteServlet</servlet-name>
    <url-pattern>/TextNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureNoteServlet</servlet-name>
    <url-pattern>/PictureNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandoutServlet</servlet-name>
    <url-pattern>/HandoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotificationServlet</servlet-name>
    <url-pattern>/NotificationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRecordServlet</servlet-name>
    <url-pattern>/SearchRecordServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoListServlet</servlet-name>
    <url-pattern>/VideoListServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeyLabelServlet</servlet-name>
    <url-pattern>/KeyLabelServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginVerificationServlet</servlet-name>
    <url-pattern>/LoginVerificationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayerInterfaceServlet</servlet-name>
    <url-pattern>/PlayerInterfaceServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalKeyLabelServlet</servlet-name>
    <url-pattern>/PersonalKeyLabelServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoursePlanServlet</servlet-name>
    <url-pattern>/CoursePlanServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/SettingServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupCommentServlet</servlet-name>
    <url-pattern>/GroupCommentServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupReplyServlet</servlet-name>
    <url-pattern>/GroupReplyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagementServlet</servlet-name>
    <url-pattern>/ManagementServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupCalendarServlet</servlet-name>
    <url-pattern>/GroupCalendarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupKeyLabelServlet</servlet-name>
    <url-pattern>/GroupKeyLabelServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AnnouncementServlet</servlet-name>
    <url-pattern>/AnnouncementServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupVideoListServlet</servlet-name>
    <url-pattern>/GroupVideoListServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupCoursePlanServlet</servlet-name>
    <url-pattern>/GroupCoursePlanServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GroupMemberServlet</servlet-name>
    <url-pattern>/GroupMemberServlet.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
		DataHandle.DataUpdateListener
	</listener-class>
  </listener>
</web-app>