<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AnyCourse</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>Forum.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>Forum.ReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>HomePage.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TextNoteServlet</servlet-name>
    <servlet-class>Note.TextNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PictureNoteServlet</servlet-name>
    <servlet-class>Note.PictureNoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRecordServlet</servlet-name>
    <servlet-class>Personal.SearchRecord.SearchRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VideoListServlet</servlet-name>
    <servlet-class>Personal.VideoList.VideoListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KeyLabelServlet</servlet-name>
    <servlet-class>KeyLabel.KeyLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginVerificationServlet</servlet-name>
    <servlet-class>LoginVerification.LoginVerificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalendarServlet</servlet-name>
    <servlet-class>Personal.Calendar.CalendarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Search.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalKeyLabelServlet</servlet-name>
    <servlet-class>Personal.KeyLabel.PersonalKeyLabelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>Account.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayerInterfaceServlet</servlet-name>
    <servlet-class>PlayerInterface.PlayerInterfaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TextNoteServlet</servlet-name>
    <url-pattern>/TextNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PictureNoteServlet</servlet-name>
    <url-pattern>/PictureNoteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRecordServlet</servlet-name>
    <url-pattern>/SearchRecordServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoListServlet</servlet-name>
    <url-pattern>/VideoListServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KeyLabelServlet</servlet-name>
    <url-pattern>/KeyLabelServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginVerificationServlet</servlet-name>
    <url-pattern>/LoginVerificationServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayerInterfaceServlet</servlet-name>
    <url-pattern>/PlayerInterfaceServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalendarServlet</servlet-name>
    <url-pattern>/CalendarServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalKeyLabelServlet</servlet-name>
    <url-pattern>/PersonalKeyLabelServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet.do</url-pattern>
  </servlet-mapping>
</web-app>